html {
   scroll-behavior: smooth; 
 }
body{
   font-family: 'Oswald', sans-serif;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
*{
   box-sizing: border-box;
}
header, main, footer{
   border: 1px solid red;
}
.container{
   max-width: 1440px;
   margin: 0 auto;
}
.nav-list{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.photo{
   height: 20%;
   width: 20%;
   }



   .review{
      padding:0 70px;
  }
  