*{
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth; 
 }
body{
   display: flex;
   font-family: 'Oswald', sans-serif;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   flex-direction: column;
   justify-content: space-between;
}
.header-container{
   max-width: 1440px;
   margin: 0 auto;
}
.header{
   background-color: #493F9D;
}
.menu-list{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none ;
}
.menu-link{
   padding: 0 7px;
   line-height: 50px;
   color: #ffffff;
   font-size: 20px;
   align-items: center;
   text-decoration: none;
}
.main{
   display: flex;
padding: 25px;
   background-color:#FAF5EA
}
.main-container {
   display: flex;
   flex-wrap: wrap;
   
 }
 
 .section {
   width: 50%;
   padding-left: 20px;
   padding-right: 20px;
   flex-direction: column;
  }
  .footer{
   color: black;
   background-color: #493F9D;
  }
  .footer-container{
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  }
 @media (max-width: 768px) {
   .section {
     width: 100%;
   }
 } 
 .section-profile{
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 0px 30px 30px;
   border-bottom: 16px solid rgb(67, 69, 134) ;
 }
 .photo{
   width: 20%;
   border-radius: 10%;
   } 
 .section-title{
   padding-top: 10% ;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 5px;
   color: rgb(51, 17, 17);
  
}

.section-title-h3{
color:rgb(51, 17, 17);
font-size: 22px;
 font-weight: 300;
}
.section-title-h2{
   font-size: 35px;
   position: relative;
   padding: 20px 10px 10px 20px;
   text-align: left; 
}
#contacts{
   color:rgb(51, 17, 17);
}
.contacts-item{
   font-size: 16px;
   border-bottom: 2px solid rgb(67, 69, 134) ;
}
#aboutme{
   font-size: 18px;
   border-radius: 15%;
   color:rgb(51, 17, 17);
   border: 2px solid rgb(67, 69, 134);
   border-radius: 60px;;  
}
.skills-item{
   font-size: 16px;
   border-bottom: 2px solid rgb(67, 69, 134)
}
#code-example{
   color:rgb(51, 17, 17);
   border: 2px solid rgb(67, 69, 134);
   border-radius: 60px;
 }
.pre{
   font-size: 18px;
   font-style: italic;
} 

#languages{
font-size: 16px;
border: 2px solid rgb(67, 69, 134);
border-radius: 60px;
}
.education-item{
   font-size: 16px;
   border-bottom: 2px solid rgb(67, 69, 134);
} 
.logo{
   width: 121px;
   height: 45px;
   background-image: url("image.png");
   background-size: contain;
   background-repeat: no-repeat;
}
